:root
  --white: #ffffff;
  --white-transparent: rgba(255, 255, 255, .4);
  --black: #0B0B0B;
  --black-sand: #1C1C1C;
  --blue: #40A4FF;
  --purple: #7F47CC;
  --purple-bg: #400A45;
  --purple-border: #693095;
  --brown: #523A32;
  --brown-border: #A4746F;
  --red: #E6332A;
  --grey: #5B5B5B;
  --yellow-desert: #F3E8D8;
  --brown-desert: #B99880;
  --grey-bg: #282828;
  --grey-lite: #777777;
